@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: linear-gradient(135deg, #0f2027 0%, #203a43 30%, #43003d 60%, #091236 100%), linear-gradient(135deg, rgba(0, 210, 255, 0.2) 10%, rgba(58, 123, 213, 0.2) 40%, rgba(91, 134, 229, 0.2) 50%, rgba(0, 255, 106, 0.2) 75%, rgba(255, 105, 180, 0.2) 100%);
  background-blend-mode: overlay, screen;
  animation: aurora 30s ease infinite;
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-size: 200% 200%;
  align-items: center;
  justify-content: center;
}

@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
