@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(135deg, #094074 0%, #0f0f0f 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
